html, body {margin: 0px; height: 100%; width: 100%;}

:root {
    --accent-clr: red
}

.topbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  margin-top:0;
  border-bottom: 10px ridge rgba(14, 17, 29, 0.8);
  background-color: rgb(255, 255, 255);
}

.nav {
    background-color: var(--accent-clr);
    line-height:40px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:0.2em;

    margin-top:0;
    margin-bottom: 10px;
    font-size:18px;
}

ul.nav > li {
  background-color: var(--accent-clr);
  display: inline-block;
  padding: 10px;
}
ul.nav > li:hover {
 background: linear-gradient(90deg, rgb(255, 0, 0) 10%, rgb(199, 0, 0) 50%, rgb(255, 0, 0) 90%);
}

ul.nav > li > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

ul.nav > li:hover > a {
    color: rgb(0, 0, 0);
}

body {
    background: linear-gradient(0deg, rgb(0, 0, 0) 20%, rgb(20, 22, 24) 100%);
    color: rgb(255, 255, 255);
    font-family: Verdana;
}

.container{
    position: relative;
    width: auto;
    height: fit-content; margin: 20px; padding: 5px;
    background: rgba(10, 168, 116, 0.322);
    border-radius: 0px 25px;
}

.gridcontainer{
    display: grid;
    width: 200px;
    height: 200px;
}

.content{
    background: rgba(255, 255, 255, 0.322);
    padding: 10px;
    margin:10px;
    border-radius: 10px;
}

.socials{
    bottom: 0;
    width:fit-content;
    height:50px;
    margin: 1px;
    position: fixed;
    background-color: rgb(27, 65, 65);
}

/* my fuckass cube*/
.rainbowcube {
    width: 100px;
    height: 100px;
    position: absolute;
    animation-name: cycle;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    transition: transform 0.3s linear;
    z-index: 2;
}

.rainbowcube:hover{
    transform:rotate(360deg)
}

@keyframes cycle {
    0% {background-color:red; left:0px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    100% {background-color:lime; left:800px; top:400px;}
}

button {
    transition: transform 0.1s linear;
    transition: background-color 0.1s linear;
    margin: 20px;
    background-color: black;
    color: beige;
}

button:hover {
    transform: rotate(45deg);
    background-color: azure;
}