html {margin: 0px; height: 100%; width: 100%; overflow:hidden}

:root {
    --accent-clr: red;
    --base-clr: rgb(0, 0, 0);
    --transtime: 0.6s;
}

head{
}


::-webkit-scrollbar {
  width: 4px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: rgb(196, 9, 9);
}

 ::-webkit-scrollbar-thumb:horizontal{
        background: red;
        border-radius: 1px;
 }

body {
    background-size: auto, cover;
  /*  background-size: auto, cover, auto; */
    background-repeat: none;
    background-position: top right, top, top;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-family: Verdana;
    margin:0px;
}

.topbar {
    z-index: 3;
    position: sticky;
    top: 0;
     height: 60px;
    width: 100%;
    margin-top:0;
    border-bottom: 10px ridge rgba(14, 17, 29, 0.8);
    background-color: rgb(255, 255, 255);
}

.nav {
    background-color: var(--accent-clr);
    line-height:40px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:0.2em;

    margin-top:0;
    margin-bottom: 10px;
    font-size:18px;
}

.nav > li:hover > a{
    color:black;
}

ul.nav > li {
    background-color: var(--accent-clr);
    display: inline-block;
    padding: 10px;
    transition:color,0.4s ease;
}
ul.nav > li:hover {
    color:black
}

.backthing{
    background-color: linear-gradient(0deg, rgb(85, 85, 85) 20%, rgb(10, 11, 12) 100%);
    position:fixed;
}

.container{
    position: absolute;
    width: calc(100vw - 200px); height: calc(100vh - 460px);
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
    background: var(--base-clr);
    padding: 20px;
    border-radius: 0px 25px;
    overflow:hidden;
    border-style: ridge;
    z-index: 20;
}

.container > img{
    border: 5px;
    border-style:solid;
    border-color: red;
    border-radius: 0px 25px;
    height: 15rem;
}

.snazzy{
    background-color: green;
    color:black;
    width: auto;
    height: auto;
    position: absolute;
}

.socials{
    bottom: 0;
    width:fit-content;
    height:50px;
    margin: 1px;
    position: fixed;
    background-color: rgb(27, 65, 65);
}

.content{
    box-sizing: border-box;
    position: absolute;
    background: rgba(18, 29, 128, 0);
    padding: 50px;
    margin: 0px;
    width: 100%;
    height: calc(100% - 20px);
    left: 50%;
    top: 0px;
    transform: translate(-50%);
    color: white;
}

.content > p{
    top: 0;
    height: fit-content;
    margin-top: 0px;
    margin-bottom: 5%;
    line-height: 2rem;
    color: #ffffff;
    text-align: center;
}

.visible{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

button{
    transition: transform, background-color, color, 0.7s  ease;
    width: auto;
    height: auto;
    background-color: black;
    color: beige;
}

button:hover {
    transform: rotate(45deg);
    background-color: azure;
    color: black;
}

.cntctcontainer{
    background-color: rgba(82, 44, 44, 0.664);
}

/* Testing stuff here */

.trans {
    -moz-transition: var(--transtime) ease-in-out;
    -o-transition: var(--transtime) ease-in-out;
    -webkit-transition: var(--transtime) ease-in-out;
    transition: var(--transtime) ease-in-out;    
}

.menutext {
    position: absolute;
    background-color: rgba(20, 62, 141, 0);
    height: 100%;
    width: 100%;
    user-select: none;
    display: inline-block;
    justify-content: center;
    align-items:center;
    display: flex;
    transform:rotate(-45deg);
}

.menubox{
    -moz-transition: var(--transtime) ease-in-out;
    -o-transition: var(--transtime) ease-in-out;
    -webkit-transition: var(--transtime) ease-in-out;
    transition: var(--transtime) ease-in-out;
    transition-property: font-size,width,height,position,background-color,color,border-color,transform,top,left,border-width,ease-in-out;
    width: 8rem;
    height: 8rem;
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(240, 248, 255);
    border-width: 0.5rem;
    box-sizing: border-box;
    border-style: double;
    font-size: 1.0rem;
    border-color: rgb(131, 17, 17);
    max-width: 60rem;
    overflow: hidden;
}

.menubox:hover {
    color: rgb(255, 255, 255);
    border-width: 0.8rem;
    background-color: rgb(0, 0, 0);
    font-size: 1.1rem;
    border-color: rgb(255, 255, 255);
}

.menubox:first-child {
    left:0rem;
    top: 0rem;
}

.menubox:nth-child(2) {
    left:8.5rem;
    top: 0rem;
}

.menubox:nth-child(3) {
    left:0rem;
    top: 8.5rem;
}

.menubox:nth-child(4) {
    left:8.5rem;
    top: 8.5rem;
}

.menubox.expanded{
    transition-property: background-color 50.1s;

    top: 50%;
    left: 50%;
    z-index: 10000;
    transform:translate(calc(-50% + 4.0rem),calc(-50% + 4.0rem)) rotate(-45deg);
    color: rgb(11, 14, 17);
    background-color: rgba(26, 15, 23, 0.226);

    width: calc(80vw); height: calc(70vh);
    background: var(--base-clr);
    padding-right: 17px;

    overflow-y:scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    border-width: 0.5rem;
    scrollbar-width: none;
    font-size: 1.2rem;
    max-width: 60rem;
}

.menutitle{
    position: absolute;
    color: white;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 36px;
}

.menubox.expanded > .menutext {
    display: none;
    opacity: 0;
}

.menubox.expanded > .content{
    position: absolute;
    color: white;
}

.gridcontainer{
    background-color: rgba(250, 235, 215, 0);
    position: absolute;
    top: calc(50vh - 11.6rem);
    left: 50%;
    width: 0;
    height: 0;
    transform: rotate(45deg);
}

.xbutton{
    transition: var(--transtime);
    pointer-events: none;
    user-select: none;
    position: absolute;
    text-align: center;
    vertical-align: center;
    left: 4px;
    top: -10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.menubox.expanded > .xbutton{
    left: 4px;
    top: -10px;
    color: white;
    opacity: 1;
    transition-property: opacity; ;
    visibility: visible;
    display: block;
}

section {
  position: absolute;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
}

section .wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #790101;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
section .wave span {
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

section .wave span:nth-child(1) {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 15s linear infinite;
}

section .wave span:nth-child(2) {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 15s linear infinite;
}
section .wave span:nth-child(3) {
  border-radius: 42.5%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 25s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.unselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;    
}

@media only screen and (orientation:portrait) {
    
    html{
        overflow-y: hidden;
        font-size: small;
    }
    
    body {
        background-color: lightblue;
        position: relative;
        overflow: hidden;
        height: 100dvh;
    }
 
    .menubox.expanded{
        background-color: #790101;
        width: 95vw;
    }

    .menutitle{
        width: 90vw;
        top: 15%;
    }

    .gridcontainer{
        top: calc(50vh - 6.6rem);
    }
}